* {
    -fx-dark-base: #131210;
    -fx-light-base: #EDEBE9;
    -fx-accent: #2078CB;
}

.board-square {
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-padding: 0;
}

.square.selected {
    -fx-background-color: #9bb95780;
}

.square.promotable {
    -fx-background-color: #2078CB80;
}

#board {
    -fx-border-width: 1;
    -fx-border-color: black;
    -fx-padding: 0;
}

.piece-stand-square {
    -fx-padding: 0 3 0 0;
}

.piece-stand-square .label {
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-border-width: 1;
    -fx-border-radius: 3;
    -fx-border-color: #474747;
    -fx-background-color: white;
    -fx-background-radius: 3;
    -fx-padding: -3 3 -3 3;
}

.square.marked {
    -fx-background-color: rgba(255, 91, 83, 0.5);
}

.menu, .menu .menu-item {
    -fx-font-size: 15px;
    -fx-padding: 2 5 2 5;
}

/* History */
.history-view {
    -fx-padding: 0;
    -fx-background-color: white;
    -fx-border-width: 0;
    -fx-border-color: lightgray;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.40), 2, 0, 0, 1);
}

.history-button {
    -fx-background-color: white;
    -fx-padding: 0;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 3, 0, 1, 1);
}

.history-button:armed {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 2, 0, 0.5, 0.5);
}

.history-button:hover {
    -fx-background-color: #F7F6F5;
}

.history-button-container {
    -fx-padding: 0;
    -fx-border-width: 0.5 0 0 0;
    -fx-border-color: lightgrey;
}

.move-list {
    -fx-background-color:transparent;
    -fx-padding: 0;
}

.move-list-inner {
    /* -fx-padding: 25 0 0 0; */
    -fx-padding: 0;
    -fx-background-color:transparent;
}

.scroll-pane > .viewport {
    -fx-background-color:transparent;
}

.move-list-item-index {
    -fx-background-color: #F7F6F5;
    -fx-border-width: 0 1 0 0;
    -fx-border-color: #D9D9D9;
}

.move-list-item-index .label {
    -fx-font-size: 15;
    -fx-font-weight: 500;
    -fx-text-fill: #aaaaaa;
}

.move-list-item-move {
    -fx-background-color: white;
}

.move-list-item-move .label {
    -fx-padding: 0 0 0 10;
    -fx-font-size: 18px;
    -fx-text-fill: #000000;
    -fx-font-weight: 500;
}

.move-list-item-move:hover .label {
    -fx-text-fill: white;
}

/* .move-list-item-move:hover  {
    -fx-text-fill: #404040;
} */

.move-list-item-move:hover {
    -fx-background-color: #2078CB;
}

.move-list-item-highlighted .move-list-item-move {
    -fx-background-color: #D2E4F5;
}

.move-list-item-highlighted .move-list-item-move .label {
    -fx-font-weight: bold;
}

.move-list-item-highlighted:hover .move-list-item-move .label {
    -fx-text-fill: black;
}

/* Srollbar (thanks ChatGPT) */
.scroll-bar {
    -fx-background-color: transparent; /* No background for the scrollbar track */
}

/* Thumb (the draggable part of the scrollbar) */
.scroll-bar .thumb {
    -fx-background-color: #c8c8c8; /* Set the color of the thumb */
    -fx-background-insets: 0; /* Remove any insets/shadows */
    -fx-background-radius: 0; /* Make it rectangular */
}

.scroll-bar .thumb:hover, .scroll-bar .thumb:pressed {
    -fx-background-color: #969696;
}

/* Buttons  */
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-padding: 0; /* Remove padding */
    -fx-background-color: transparent; /* Make the buttons invisible */
    -fx-shape: null; /* Remove any default shapes */
    -fx-opacity: 0; /* Make them invisible */
    -fx-pref-width: 0; /* Reduce size to zero */
    -fx-pref-height: 0;
}

/* Track (the area behind the thumb) */
.scroll-bar .track {
    -fx-background-color: white; /* Set the color of the track */
    -fx-background-insets: 0; /* Remove any insets */
    -fx-background-radius: 0; /* Make it rectangular */
}

.scroll-bar:vertical {
    -fx-pref-width: 8px; /* Set the desired width */
}

/* New game dialog */
DialogPane .menu-button {
    -fx-background-color: #D2E4F5;
}

DialogPane .menu-button:hover, DialogPane .menu-button:focused {
    -fx-background-color:#2078CB;
}

DialogPane .menu-button:hover > .label, DialogPane .menu-button:focused > .label {
    -fx-text-fill: white;  /* Change text color to white on hover/focus */
}

DialogPane .slider {
    -fx-fill: #D2E4F5;
}

DialogPane .button {
    -fx-background-color: #D2E4F5;
}

DialogPane .button:hover, DialogPane .button:focused {
    -fx-background-color: #2078CB;
    -fx-text-fill: white;
}

DialogPane .toggle-button {
    -fx-background-color: #D2E4F5;
}

DialogPane .toggle-button:hover, DialogPane .toggle-button:focused {
    -fx-background-color: #2078CB;
    -fx-text-fill: white;
}

DialogPane .toggle-button:selected {
    -fx-background-color: #2078CB; /* this is not ideal */
}

/* Clock */
.clock {
    -fx-background-color: white;
    -fx-background-radius: 3;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.40), 2, 0, 0, 1);
}

.clock.active {
    -fx-background-color: #2078CB;
}

.clock.active .label {
    -fx-text-fill: white;
}
